---
services:
  openssh-server:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: openssh-server
    hostname: openssh-server #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # - PUBLIC_KEY= #optional
      # - PUBLIC_KEY_FILE= #optional
      # - PUBLIC_KEY_DIR=/path/to/directory/containing/_only_/pubkeys #optional
      # - PUBLIC_KEY_URL=https://github.com/username.keys #optional
      - SUDO_ACCESS=false #optional
      - PASSWORD_ACCESS=true #optional
      - USER_PASSWORD=password #optional
      # - USER_PASSWORD_FILE=/path/to/file #optional
      - USER_NAME=dummy #optional
      - LOG_STDOUT=true #optional
      - LISTEN_PORT=22
    volumes:
      - ${COMPOSE_DIR}/.config:/config
    ports:
      - 2222:22
    networks:
      - dev-net
    restart: unless-stopped

  webssh-ssh-client:
    image: ghcr.io/larryb02/webssh-client:latest
    container_name: webssh-ssh-client
    hostname: webssh-ssh-client
    ports:
      - 3001:3001
    restart: unless-stopped
    networks:
      - dev-net
  
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

networks:
  dev-net:
    driver: bridge


