/* Note rename if this doesnt make sense, but this handles all styling related to the ssh browser:
    - Tab Bar
    - Tabs
    - Any extra functionality i end up adding 
*/

.tab-bar {
    /* border: 1px white solid; */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.tab-item {
    display: flex;
    position: relative;
    border: 1px white solid;
    /* figure out how to get nice clean rounded edges */
    border-radius: 2%;
    height: 35px;
    /* we want the width to dynamically resize figure this out soon */
    width: 300px;
    max-width: 300px;
    min-width: 50px;
    border-bottom: none;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
    background-color: black;
}

.active { /* this will be for when a tab-item is focused */
    
    background-color: #ffffff0f;
}

.new-tab-btn {
    display: flex;
    align-items: center;
    margin-left: 4px;
    border: 1px white solid;
    border-radius: 5%;
    border-bottom: none;
    cursor: pointer;
}

.tab-exit-btn {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
}

.tab-exit-btn:hover {
    background-color: #ffffff0f;
}