.connection_item {
    margin: 4px;
    border: solid 1px white;
    border-radius: 8px;
    width: 300px;
    height: 100px;
    position: relative;
    min-width: 100px;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.connection_item:hover {
    /* border-color: #646cff; */
    box-shadow: 0 0 4px #646cff;
    cursor: pointer;
}

.connect-button {
    position: absolute;
    width: 100px;
    bottom: 8px;
    right: 52px;
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    min-width: 10px;
}