/* index.css or globals.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #242424; /* or light theme default */
  color: rgba(255, 255, 255, 0.87);
}

#root, #__next {
  height: 100%;
}
