.connection_form {
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0 auto;
    height: 50%;
    width: 50%;
}

.connection_form_item {
    padding: 5px;
    /* margin: auto; */
    display: block;
}
.connection_form input {
    
    display: block;
}